@media screen and (min-width: 700px) {
  #menu {
    display: none;
  }

  nav ul {
    display: flex;
    position: static;
    flex-direction: row;
    background: none;
    gap: 0.5rem;
  }

  nav ul li {
    width: auto;
  }

  nav ul li a {
    border-bottom: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  header h2 {
    margin: 0;
    font-size: 1.8rem;
  }
}
